In [1]:
import numpy as np
import pandas as pd

In [2]:
#df.to_hdf('data.h5', key='df', mode='w')

In [3]:
df = pd.read_hdf('data/data.h5')
config = pd.read_hdf('data/config.h5')

In [4]:
df.head()

,id,board,score,mvt,action,depth,width,player,step,winner,parent
0,D0-W0-P0-S0,"[[None, None, None, None, None], [None, None, ...","(0, 0)","[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0...","(0, 0)",0,0,0,0,-1,None
1,D1-W0-P0-S0,"[[black, None, None, None, None], [None, None,...","(0, 0)","[(0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1...","(0, 1)",1,0,0,0,-1,D0-W0-P0-S0
2,D2-W0-P1-S0,"[[black, black, None, None, None], [None, None...","(0, 0)","[(0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2...","(0, 2)",2,0,1,0,-1,D1-W0-P0-S0
3,D3-W0-P1-S0,"[[black, black, white, None, None], [None, Non...","(0, 0)","[(0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3...","(0, 3)",3,0,1,0,-1,D2-W0-P1-S0
4,D4-W0-P0-S0,"[[black, black, white, white, None], [None, No...","(0, 0)","[(0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4...","(0, 4)",4,0,0,0,-1,D3-W0-P1-S0

In [5]:
df.board.shape

(1233,)

In [6]:
b = df.board[40]
b

[['black', 'white', None, None, None],
 [None, 'black', 'black', 'black', 'black'],
 ['white', 'white', 'white', 'black', 'black'],
 ['white', 'white', 'black', 'black', 'white'],
 ['white', 'black', 'black', 'white', 'white']]

In [7]:
df[df.winner != -1]

,id,board,score,mvt,action,depth,width,player,step,winner,parent
90,D90-W0-P1-S1,"[[None, None, white, None, None], [black, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
181,D90-W0-P1-S1,"[[None, black, white, None, None], [None, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 3), (2, 0, 1, 0), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
272,D90-W0-P1-S1,"[[black, black, white, None, None], [None, Non...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 3), (2, 0, 1, 0), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
363,D90-W0-P1-S1,"[[black, None, white, None, None], [black, Non...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
454,D90-W0-P1-S1,"[[black, None, white, None, None], [None, None...","(2, 2)","[(0, 2, 0, 1), (0, 2, 0, 3), (2, 0, 1, 0), (2,...","(0, 2, 0, 1)",90,0,1,1,2,D89-W0-P0-S1
545,D90-W0-P1-S1,"[[black, None, white, black, None], [None, bla...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (2, 0, 1, 0), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
686,D140-W0-P1-S1,"[[None, white, None, None, None], [black, None...","(3, 2)","[(0, 1, 1, 1), (0, 1, 0, 0), (0, 1, 0, 2), (2,...","(0, 1, 1, 1)",140,0,1,1,0,D48-W0-P1-S1
777,D90-W0-P1-S1,"[[None, None, white, None, None], [black, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
868,D90-W0-P1-S1,"[[None, None, white, None, None], [black, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
959,D90-W0-P1-S1,"[[None, None, white, None, None], [black, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
1050,D90-W0-P1-S1,"[[None, None, white, None, None], [black, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
1141,D90-W0-P1-S1,"[[None, None, white, None, None], [black, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1
1232,D90-W0-P1-S1,"[[None, None, white, None, None], [black, blac...","(2, 2)","[(0, 2, 1, 2), (0, 2, 0, 1), (0, 2, 0, 3), (2,...","(0, 2, 1, 2)",90,0,1,1,2,D89-W0-P0-S1

In [8]:
df[df.board.astype(str) == str(b)]

,id,board,score,mvt,action,depth,width,player,step,winner,parent
40,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
131,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
222,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
313,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
404,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
495,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
586,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
727,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
818,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
909,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
1000,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
1091,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1
1182,D40-W0-P1-S1,"[[black, white, None, None, None], [None, blac...","(1, 2)","[(0, 1, 0, 2), (2, 0, 1, 0)]","(0, 1, 0, 2)",40,0,1,1,-1,D39-W0-P0-S1

In [9]:
config[config.depth == 89].index

Int64Index([1], dtype='int64')

In [10]:
pd.Index(config.depth == 89)

Index([False, True, False], dtype='object', name='depth')

In [11]:
config[config.depth == (config.depth[0] - 2)].shape[0]

0

In [12]:
config.loc[config.depth == 89, 'width'] += 1

In [13]:
config

   depth  width  width_max
0      0      0          0
1     89     13          8
2    139      1          7

In [14]:
config[config.depth == 89].shape[0]

1

In [15]:
len(df.loc[(df.shape[0] - 1), 'mvt'])

4