In [1]:
import numpy as np
import pandas as pd

In [2]:
#df.to_hdf('data.h5', key='df', mode='w')

In [3]:
df = pd.read_hdf('data/data.h5')
config = pd.read_hdf('data/config.h5')

In [4]:
df.head()

,id,board,score,mvt,action,depth,width,player,step,winner,parent
0,D0-W0-P0-S0,"[[None, None, None, None, None], [None, None, ...","(0, 0)","[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0...","(0, 0)",0,0,0,0,-1,None
1,D1-W0-P0-S0,"[[black, None, None, None, None], [None, None,...","(0, 0)","[(0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1...","(0, 1)",1,0,0,0,-1,D0-W0-P0-S0
2,D2-W0-P1-S0,"[[black, black, None, None, None], [None, None...","(0, 0)","[(0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2...","(0, 2)",2,0,1,0,-1,D1-W0-P0-S0
3,D3-W0-P1-S0,"[[black, black, white, None, None], [None, Non...","(0, 0)","[(0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3...","(0, 3)",3,0,1,0,-1,D2-W0-P1-S0
4,D4-W0-P0-S0,"[[black, black, white, white, None], [None, No...","(0, 0)","[(0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4...","(0, 4)",4,0,0,0,-1,D3-W0-P1-S0

In [5]:
df.board.shape

(174,)

In [45]:
b = df.board[1]
b

[['black', None, None, None, None],
 [None, None, None, None, None],
 [None, None, None, None, None],
 [None, None, None, None, None],
 [None, None, None, None, None]]

In [47]:
str(b)

"[['black', None, None, None, None], [None, None, None, None, None], [None, None, None, None, None], [None, None, None, None, None], [None, None, None, None, None]]"

In [52]:
df[df.board.astype(str) == str(b)]

,id,board,score,mvt,action,depth,width,player,step,winner,parent
1,D1-W0-P0-S0,"[[black, None, None, None, None], [None, None,...","(0, 0)","[(0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1...","(0, 1)",1,0,0,0,-1,D0-W0-P0-S0
92,D1-W0-P0-S0,"[[black, None, None, None, None], [None, None,...","(0, 0)","[(0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1...","(0, 1)",1,0,0,0,-1,D0-W0-P0-S0

In [54]:
a = df.action[50]
a

(0, 2, 1, 2)

In [55]:
df.action == a

0      False
1      False
2      False
3      False
4      False
       ...
169     True
170    False
171    False
172    False
173     True
Name: action, Length: 174, dtype: bool